{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="display-5 my-3 text-center">Gestion des campus</h1>

    <div class="container mt-4 mb-4">
        {% include 'campus/filter.html.twig' %}
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Campus</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for campu in campus %}
            <tr>
                <td>{{ campu.nom }}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                {{ form_start(addCampusForm) }}
                {{ form_row(addCampusForm.nom) }}
                {{ form_end(addCampusForm) }}
            </td>
            <td><button type="submit" class="btn btn-success">Save</button></td>
        </tr>
        </tbody>
    </table>


{% endblock %}

{% block title %}

{% endblock %}

